
nav {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

.avatar {
    height: 30px;
    width: 30px;
}
/* ------------------- Logo styles ---------------------*/
/* .logo{
    height: 30px;
} */

#logo {
    align-self: center;
}

.logo-container {
    flex : 1;
    padding: 15px;
}
.logo-container span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
    align-self: center;
}
/* ----------------------- */
.search{
    align-self: center;
    flex: 2;
    height: 30px;
}

.btn-search {
    height: 35px;
    margin-top: 10px;
}

.btn-section {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.icons {
    height: 30px;
    width: 30px;
    opacity: 0.7;
}
/* main container*/

.pageContent {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 3%;
}
.content{
    width: 65%;
    padding : 1%;
}
.slideBar{
    display: flex;
    flex : 1;
}
.secondPart{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-content: center;
}
.logo{
height: 80px;
width: 80px;
}
.channel{
    display: column;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-left:10px;
}

/* ------------- Video content elements  -------------------*/
.video-title {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-titles {
    display: flex;
    flex-direction: row;
}

.details {
    width: 45%;
}
